
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

<h2 class="text-success">@ViewBag.sonuc </h2><br/>
<a class="btn btn-default btn-group-lg" href="@Url.Action("Index","Product")"> Geri</a>