
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>@ViewBag.mesaj</h2>

@section script{
    <script>
    $("h2").click(function(){
        alert("hahahah");
    });
    </script>
    }

