@model NorthAdmin.Models.Category
@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/shared/_AdminLayout.cshtml";
}
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h2>@Model.CategoryName</h2>
		<h4>@Model.Description</h4>
	</div>
</div>

