
@using RE.Web.MVC.Models
@{
    ViewBag.Title = "AnaSayfa";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-6">
        <div id="piechart" style="width: 700px; height: 400px;"></div>
    </div>
    <div class="col-md-6">
        <div id="chart_div" style="width: 400px; height: 120px;"></div>
    </div>
</div>
@section script{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: '@Url.Action("GrafikData1","Home")',
            method: 'GET'
        }).then(function (response) {
            google.charts.load('current', { 'packages': ['corechart', 'gauge'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data1 = [['Kategori Adı', 'Adet']];
                $.each(response, function (key, value) {
                    data1.push([value.Ad, value.Adet]);
                });
                console.log(data1);
                var data = google.visualization.arrayToDataTable(data1);
                var options = {
                    title: 'Kategorisine Göre Ürünler',
                    is3D: true,
                    pieSliceText: 'label'
                };
                var data2 = google.visualization.arrayToDataTable([
                    ['Label', 'Value'],
                    ['Stok', 80],
                    ['Sipariş', 55]
                ]);
                var options2 = {
                    width: 600, height: 300,
                    redFrom: 0, redTo: 10,
                    yellowFrom: 10, yellowTo: 20,
                    greenFrom:25,greenTo:100,
                    minorTicks: 5, max: 220,
                    animation: {
                        duration:1700,
                        easing:'out'
                    }
                };
                var chart2 = new google.visualization.Gauge(document.getElementById('chart_div'));

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
                chart2.draw(data2, options2);
                setInterval(function () {
                    data2.setValue(0, 1, 40 + Math.round(60 * Math.random()));
                    chart2.draw(data2, options2);
                }, 2500);
            }
        });
    </script>
}