
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h2 class="text-success">@Html.Raw(ViewBag.sonuc)</h2><br />
		<a class="btn btn-info btn-group-lg" href="@Url.Action("Index","Customer")"><< Geri</a>
	</div>
</div>

